<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="list-unstyled" id="messages">
                {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        <h2>{{titulo}}</h2>
        <form method="post" action="/autenticar">
            <legend>Entre com suas informações</legend>
            <fieldset>
                <div class="mb-3">
                    <label for="txtLogin">Login</label>
                    <input type="text" class="form-control" placeholder="Login" id="txtLogin" name="txtLogin">
                </div>
                <div class="mb-3">
                    <label for="txtSenha">Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" id="txtSenha" name="txtSenha">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Logar</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>