<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>

    <form method="post" action="/autenticar">
        <legend>Entre com suas informações</legend>
        <fieldset>
            <div class="mb-3">
                <label for="txtLogin">Login</label>
                <input type="text" class="form-control" placeholder="Login" id="txtLogin" name="txtLogin">
            </div>
            <div class="mb-3">
                <label for="txtSenha">Senha</label>
                <input type="password" class="form-control" placeholder="Senha" id="txtSenha" name="txtSenha">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Logar</button>
            </div>
        </fieldset>
    </form>
    
</body>
</html>